body {
   background-color: #ffffbf;
}
.header {
   padding: 60px;
   text-align: center;
   background: #1abc9c;
   color: white;
   font-size: 30px;
 }
 
 .table-container {
    display: flex;
    width: 40%;
    background-color: darkblue;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: auto;
 }
.table-header {
   text-align: center;
   float: center;
}